@model IEnumerable<MyWeb.Models.WenZhang>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<ul id="DataList">
    @{Html.RenderAction("ListPanel", "List", new { skipCount = 3, takeCount = 4 });}
</ul>


    @*<ul class="mui-table-view">
        @foreach (var item in Model)
        {
            var imgsrc = "http://192.168.1.83/images/" + item.JianYaoTuPian;
            //var imgsrc = "../images/" + item.JianYaoTuPian;

            <li class="mui-table-view-cell mui-media ">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" src=@imgsrc>
                    <div class="mui-media-body">
                        <h5 class="my-css-bt-color">@Html.DisplayFor(modelItem => item.BiaoTi)</h5>
                        <p class="mui-h mui-ellipsis">@Html.DisplayFor(modelItem => item.JianYao)</p>
                    </div>    
                    <div class="mui-media-body mui-bottom  mui-pull-right my-css-xx-font">
                        <span class="iconfont icon-yulan">
                            <span class="my-css-tb-font">@Html.DisplayFor(modelItem => item.YueDuLiang)</span>
                        </span>
                        <span class="iconfont icon-huifu">
                            <span class="my-css-tb-font">@Html.DisplayFor(modelItem => item.PingLunLiang)</span>
                        </span>
                        <span class="iconfont icon-xin">
                            <span class="my-css-tb-font">@Html.DisplayFor(modelItem => item.ShouCangLiang)</span>
                        </span>
                    </div>
                </a>
            </li>
        }
    </ul>*@

    <div class="list_loading">
        <i></i>
        <span>努力加载中...</span>
    </div>
