@model MyWeb.Models.WenZhang

@{
    ViewBag.Title = "Details";
}

<h2>详细</h2>

<div>
    <h4>WenZhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YongHu.YongHuMing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YongHu.YongHuMing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiaoTi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiaoTi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JianYao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JianYao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZhengWenNeiRong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZhengWenNeiRong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JianYaoTuPian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JianYaoTuPian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuangJianRiQi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuangJianRiQi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XiuGaiRiQi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XiuGaiRiQi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PingLunLiang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PingLunLiang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShouCangLiang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShouCangLiang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YueDuLiang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YueDuLiang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
    @Html.ActionLink("返回列表", "Index", "", new { @class = "btn btn-default" })
</p>
